.header {
    background-color: var(--gray-800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
}

.header img {
    height: 3rem;
    margin-right: 1rem;
}

.header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5991rem;
    line-height: 1.6;
    color: var(--white);
}